html {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background: #C6FFDD;  
    background: -webkit-linear-gradient(to right, #f7797d, rgb(126, 169, 218), rgb(230, 169, 226)); 
    background: linear-gradient(to right, #f7797d, rgb(59, 130, 212), rgb(204, 111, 198)); 
}

.name {
    border-radius: 5px;
    border: 1px gray solid;
    padding: 3px;
    margin-bottom: 0;
    justify-items: self-start;
    border: white 1px solid;
    width: 75%;
    height: 50px;
    font-size: 28px;
    margin: 0 35px 0 35px;
    box-shadow: black 2px 2px;
}

.landing {
    /* text-align: center; */
    font-family: 'Dancing Script', cursive;
    color: black;
}

.title {
    font-size: 32px;
    justify-content: center;
    justify-items: start;
    text-align: center;

    /* background-color: lightcoral; */
}

h3 {
    font-size: 24px;
}



#button {
    display: flex;
    justify-content: center;
    margin: 15px;
    font-size: 48px;
    border-radius: 5px;
}

footer {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    display: flex;
    position: absolute;
    bottom: 0;
    height: 80px;
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
    background-color: lightseagreen;
    color: black;
}

#container {
    padding-bottom: 24px;
    color: white;
    /* background-color: lightcoral; */
    justify-content: center;
    text-align: center;
    margin-bottom: 0;
}

h3 {
    font-size: 50px;
}

#submit {
    font-size: 32px;
    background-color: #410B13;
    margin-bottom: 20px;
    color: #ED6A5A;
    font-weight: 600;
    font-size: 24px;
    font-family: "Dancing Script", cursive;
    height: 50px;
    width: 120px;
    border-radius: 5px;
    border: #410B13;
}

#submit a :hover {
    color: white;
}

#finish {
    font-size: 32px;
    background-color: #410B13;
    margin-bottom: 20px;
    color: #ED6A5A;
    font-weight: 600;
    font-size: 24px;
    font-family: "Dancing Script", cursive;
    height: 50px;
    width: 120px;
    border-radius: 5px;
    border: #410B13;
}

#finish :hover {
    color: white;
}

a {
    text-decoration: none;
}

#link {
    color: black;
    /* text-decoration: none; */
}

.button {
    font-size: 18px;
    font-family: 'Dancing Script', cursive;
    padding: 0;
    margin: 10px 35px 5px 0;
    border: white solid;
    border-radius: 5px;
    
    text-align: start;
    background-color: white;
    box-shadow: black 2px 2px;
}

.bottom {
    margin-bottom: 35px;
}

li {
    font-size: 24px;
}

#form {
    display: flex;
    justify-content: center;
}

#result {
    font-size: 72px;
    font-family: 'Montserrat', sans-serif;
    color: #410B13
}

.red {
    font-size: 32px;
    color: darkred;
}

header {
    display: flex;
    background-color: white;
    padding: 24px;
    /* flex-wrap: nowrap;
    border-radius: 5px; */
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 95%;
}

.nav {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: black;
    margin: 10px;
    text-align: center;

}

.nav :hover {
    color: #410B13;
}

#retake {
    text-decoration: none;
    color: lightblue;
}

#conclusion {
    font-size: 36px;
    color: #410B13;
}

::placeholder{
    color: red;
    font-size: 22px;
}
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(19px, 0);
    }
  }

  #partner {
    color: burlywood;
  }

  #test {
    text-decoration: none;
    color: black;
  }


#fun {
  color: brown;
}